@import url("variables.css");
@import url("common-class.css");
@import url("responsive/responsive.css");
@import url("fonts.css");

body {
    margin: 0;
    padding: 0;
}

.container{
    
}

/* footer section */
footer{
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 160px;
}

footer p,a{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}