@media(max-width: 1440px){
    
}

@media(max-width: 1280px){
    .container{
        max-width: 770px !important;
    }
}

@media (max-width: 1025px){

}

@media (max-width: 992px){
    .container{
        max-width: calc(100% - 24px) !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

@media (max-width: 769px){
    .title {
        grid-column: 1 / -1 !important;
        grid-row: 1;
    }
    
    .header-contents{
        grid-column: 1 / -1 !important;
        grid-row: 2;
    }

    .team-members{
        grid-template-columns: 6fr 6fr !important;
    }

    .team-members .member:nth-child(3n+2){
        margin-top: unset;
    }

    .member:nth-child(even){
        margin-top: 50px !important;
    }

    .team-members .member .image_wrapper{
        width: 160px !important;
    }
}

@media (max-width: 426px){
    .team-members{
        gap: 10px !important;
    }
    .team-members .member .image_wrapper{
        width: 120px !important;
    }
}

@media (max-width: 375px){
    
}

@media (max-width: 320px){
    
}